@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
/* @import url(https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css); */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap);

* {
  font-family: 'Raleway';
}

a {
  text-decoration: none;
  color: black;
}
#mapContainer {
  position: sticky;
  top: 160px;
  width: 100%;
  height: -50px;
  z-index: 1;
}

#menuContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
#backLink {
  width: 100%;
  height: 20px;
  padding: 20px;
  margin-bottom: 30px;
  position: fixed;
  top: 89px;
  background-color: white;
  z-index: 2;
}
